.cv{
    height: 30rem;
    width:70%;
    margin: auto;
    color: white;
    background-color: black;
    border-radius: 15px;
    position:relative;
}

h1{
    position: absolute;
    left: 50%;
    top:15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.foto{
    height:100%;
    width:40%;
    position: absolute;
    border-radius: 15px;
}

p{
    left:50%;
    top: 30%;
    width:50%;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1cm;
}

.conocer{
    position: absolute;
    background-color: white;
    color:black;
    left: 50%;
    top:60%;
    height: 40px;
    width: 30%;
    font-size: 100%;
}
a:visited {
    color: darkslategray;
  }
a:active{
    color:black;
}